<?xml version="1.0" encoding="UTF-8"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://axelor.com/xml/ns/object-views
  http://axelor.com/xml/ns/object-views/object-views_5.4.xsd">
	
	<menuitem name="emplap-root" title="Employees Details" />
	<menuitem name="emplap-root-employee" title="Employee" parent="emplap-root" action="action.emplap.root.employees" />
	<action-view name="action.emplap.root.employees"  title="Employees" model="com.hh.emplap.db.Employee">
		<view type="cards" name="employee-cards"/>
		<view type="grid" name="employee-grid" />
		<view type="form" name="employee-form" />
	</action-view>
	
	<menuitem name="emplap-root-company" title="Company" parent="emplap-root" action="action.emplap.root.companies" />
	<action-view name="action.emplap.root.companies" title="Companies" model="com.hh.emplap.db.Company" >
		<view type="grid" name="company-grid" />
		<view type="form" name="company-form" />
		
		<view-param name="details-view" value="true" />
		<!-- 
		<view-param name="details-view" value="employee-form" />
		 -->
	</action-view>
	
	<menuitem name="emplap-root-address" title="Address" parent="emplap-root" action="action.emplap.root.addressess" />
	<action-view name="action.emplap.root.addressess" title="Addressess" model="com.hh.emplap.db.Address" >
		<view type="grid" name="address-grid" />
		<view type="form" name="address-form" />
	</action-view>
	
	<menuitem name="emplap-root-client" title="Client" parent="emplap-root" action="action.emplap.root.clients" />
	<action-view name="action.emplap.root.clients" title="clients" model="com.hh.emplap.db.Client" >
		<view type="grid" name="client-grid" />
		<view type="form" name="client-form" />
	</action-view>
	
	<menuitem title="Projects" name="emplap-root-project" parent="emplap-root" action="action.emplap.root.project" />
	<action-view name="action.emplap.root.project" title="Projects" model="com.hh.emplap.db.Project" >
		
		<view type="tree" name="project-tree" />
		<view type="kanban" name="project-kanban" />
		<!-- 
		
		<view type="grid" name="project-grid" />
		<view type="form" name="project-form" />
		 -->
		
	
	</action-view>
	
	<menuitem title="Projects2" name="emplap-root-project1" parent="emplap-root" action="action.emplap.root.project1" />
	<action-view name="action.emplap.root.project1" title="Projects1" model="com.hh.emplap.db.Project" >
		
		<view type="grid" name="project-grid" />
		<view type="form" name="project-form" />
		<!-- 
		
		<view type="tree" name="project-tree" />
		<view type="kanban" name="project-kanban" />
		 -->
		
	
	</action-view>
	
	
	
	
	
	
	
</object-views>